* {
  margin: 0;
  padding: 0;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}
.header {
  background-color: rgb(255, 183, 0);
  height: 80px;
}
.section {
  flex-grow: 1;
  /* background-color: aqua; */
  display: flex;
}
.nav {
  width: 250px;
  background-color: blue;
}
.article {
  flex-grow: 1;
  background-color: green;
}

.footer {
  height: 60px;
  background-color: rgb(245, 8, 60);
}
